target
.gitignore
*.log
*.tmp
.DS_Store
node_modules/
dist/
.env
.vscode/
.idea/
*.swp
*.bak
*.class
*.obj
*.exe
*.dll
*.o 
test-output
coverage/
*.iml
out/
build/
*.pyc
__pycache__/
.classpath
.project
.settings/
test-output/
